*{
  padding:0;
  margin:0;
}
body{
  width:100%;
}
html::-webkit-scrollbar {
  display:none;
}
a{
  text-decoration:none;
  font-family: 'Roboto Slab', serif;
}


/* ヘッダー */
header{
 display:flex;
 width:100%;
 height:70px;
 position:fixed;
 top:0;
 justify-content:space-between;
 background:#121212;
}
.header-logo h1{
  font-size:50px;
  color:#fff;
  padding:5px 0 5px 15px;
  font-family: 'Roboto Slab', serif;
}
.header-menu{
  padding:35px 20px 20px 20px;
}
.header-menu a {
 text-decoration: none;
 color: #fff;
 padding: 0 10px;
}
.header-menu a:hover{
 border-bottom: 2px solid #dc143c;
 padding-bottom: 5px;
}

/* コンテンツ */
.em{
  height:150vh;
  width:100%;
  padding-top:70px;
  background: #008080;
}

/* フッター */
footer{
  width:100%;
  background:#121212;
}
.footer-wrapper{
  width:50%;
  margin:0 auto;
}
.footer-logo{
  text-align:center;
  margin-bottom:15px;
}
.footer-logo h2{
  color:#fff;
  font-family: 'Roboto Slab', serif;
  opacity:0.8;
  font-size:2em;
}
.comment{
  font-size:1em;
  text-align:center;
  color:#fff;
  opacity:0.8;
}
.sns-wrapper{
  text-align:center;
}
.snss{
  width:100%;
  padding:20px 0;
  flex-direction:row;
}
.snss a{
  color:#fff;
  font-size:1.5em;
}
.icon-wrapper{
  padding:5px 20px;
  border:1px solid #fff;
  opacity:0.8;
}
.icon-wrapper:hover{
  opacity:1;
}
.copy{
  padding-top:10px;
  text-align:center;
}
.copy p{
  color:#fff;
  opacity:0.8;
  font-size:0.8em;
}
