*{
  padding:0;
  margin:0;
}
body{
  width:100%;
}
html::-webkit-scrollbar {
  display:none;
}
a{
  text-decoration:none;
  font-family: 'Roboto Slab', serif;
}

/* ヘッダー */
header{
 display:flex;
 width:100%;
 height:10vh;
 position:fixed;
 top:0;
 z-index:10;
 justify-content:space-between;
 background:#232321;
}
.header-logo h1{
  font-size:3.5em;
  color:#fff;
  padding:2px 0 2px 15px;
  font-family: 'Roboto Slab', serif;
}
.header-menu{
  padding:2.5em 0.5em 0 0;
}
.header-menu a {
  padding: 0 1em;
  color: #fff;
  position: relative;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  text-decoration: none;
}
.header-menu a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  /* background:#f4a460; */
  /* background:#de2600; */
  background:rgba(250,110,0,1);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .2s;
}
a:hover::after {
  transform: scale(1, 1);
}

/* コンテンツ */
.em{
  height:150vh;
  width:100%;
  padding-top:70px;
  background:#000;
  opacity:0.92;
}

/* フッター */
footer{
  width:100%;
  background:#232321;
}
.footer-wrapper{
  width:50%;
  margin:0 auto;
}
.comment{
  padding-top:1em;
  font-size:1em;
  text-align:center;
  color:#fff;
  opacity:0.8;
}
.snss{
  text-align:center;
}
.sns{
  width:100%;
  padding:1em 0;
  flex-direction:row;
}
.sns a{
  color:#fff;
  font-family: 'Roboto Slab', serif;
  font-size:1.5em;
}
.icon{
  color:#fff;
  opacity:0.8;
}
.sns-btn{
  position:relative;
  border:1px solid #fff;
  padding:0.2em;
  display:inline-block;
  width:8em;
  opacity:0.99;
}
.inst::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: rgb(56,63,229);
  background: linear-gradient(to bottom,  rgba(56,63,229,1) 0%,rgba(79,55,215,1) 9%,rgba(88,51,206,1) 12%,rgba(101,47,195,1) 15%,rgba(112,43,186,1) 19%,rgba(116,44,182,1) 20%,rgba(137,39,158,1) 24%,rgba(143,39,154,1) 25%,rgba(153,35,145,1) 27%,rgba(160,37,141,1) 29%,rgba(177,41,117,1) 33%,rgba(184,43,111,1) 35%,rgba(190,44,107,1) 35%,rgba(198,49,104,1) 38%,rgba(209,56,87,1) 41%,rgba(214,61,82,1) 43%,rgba(224,64,74,1) 45%,rgba(224,64,72,1) 45%,rgba(226,67,72,1) 46%,rgba(228,71,62,1) 49%,rgba(236,81,53,1) 54%,rgba(238,91,48,1) 60%,rgba(241,90,45,1) 62%,rgba(242,107,51,1) 70%,rgba(240,107,48,1) 71%,rgba(241,111,49,1) 72%,rgba(241,130,49,1) 77%,rgba(245,144,56,1) 82%,rgba(242,152,56,1) 85%,rgba(242,158,60,1) 87%,rgba(242,165,59,1) 90%,rgba(242,178,68,1) 95%,rgba(245,185,71,1) 100%);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.inst:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.twit::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: rgb(29, 161, 242);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.twit:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.copy{
  padding-top:0.5em;
  text-align:center;
}
.copy p{
  color:#fff;
  opacity:0.8;
  font-size:0.8em;
}
